/* SPDX-License-Identifier: AGPL-3.0-or-later */

body {
    background-color: #003399; /* EU */
}

#content {
    /* better than white and lightyellow */
    background-color: #f7f7f0;

    padding: 0.5em;
}

ul {
    list-style-type: none;
}
